In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets
from datetime import datetime

# Import the API key
from config import g_key

In [2]:
# Store the created CSV in Part2 into a new DataFrame.
vacation_city= pd.read_csv('weather_data/WeatherPy_vacation.csv')
vacation_city

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,Georgetown,MY,89.60,few clouds,5.41,100.34,Cititel Penang
1,34,Samarai,PG,88.52,scattered clouds,-10.62,150.67,Nuli Sapi
2,39,Hervey Bay,AU,86.00,scattered clouds,-25.30,152.85,Shelly Bay Resort
3,59,Wewak,PG,82.24,light rain,-3.55,143.63,In Wewak Boutique Hotel
4,61,Butaritari,KI,80.94,moderate rain,3.07,172.79,Isles Sunset Lodge
...,...,...,...,...,...,...,...,...
63,527,Tamandare,BR,81.68,light rain,-8.76,-35.10,Pousada 100 Passos
64,533,Denpasar,ID,87.80,scattered clouds,-8.65,115.22,Aston Denpasar Hotel & Convention Center
65,553,Port Blair,IN,81.46,clear sky,11.67,92.75,Fortune Resort Bay Island
66,554,Tema,GH,81.10,scattered clouds,5.67,-0.02,Beulah Royale
67,581,Coruripe,BR,80.24,overcast clouds,-10.13,-36.18,Pousada e Hotel Litoral Sul

In [3]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key = g_key)

In [4]:
# Creating the df based on one continent (Brazil)
preferred_df = pd.DataFrame(vacation_city.loc[vacation_city.loc[:,"Country"] == "BR", :])
preferred_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
26,224,Carutapera,BR,80.83,light rain,-1.20,-46.02,Lidera
31,290,Manaus,BR,80.60,broken clouds,-3.10,-60.02,Hotel do Largo
33,324,Sao Jose Da Coroa Grande,BR,81.68,light rain,-8.90,-35.15,Crôa Mares Hotel
53,443,Belmonte,BR,80.60,few clouds,-15.86,-38.88,Pousada Monte Carmelo O Pão
56,459,Olinda,BR,82.40,scattered clouds,-8.01,-34.86,Hotel 5 Sóis
63,527,Tamandare,BR,81.68,light rain,-8.76,-35.10,Pousada 100 Passos
67,581,Coruripe,BR,80.24,overcast clouds,-10.13,-36.18,Pousada e Hotel Litoral Sul

In [5]:
# Four cities data 
preferred_city_df = preferred_df.head(4)
preferred_city_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
26,224,Carutapera,BR,80.83,light rain,-1.20,-46.02,Lidera
31,290,Manaus,BR,80.60,broken clouds,-3.10,-60.02,Hotel do Largo
33,324,Sao Jose Da Coroa Grande,BR,81.68,light rain,-8.90,-35.15,Crôa Mares Hotel
53,443,Belmonte,BR,80.60,few clouds,-15.86,-38.88,Pousada Monte Carmelo O Pão

In [6]:
# Get the four cities data in a new dataframe 
preferred_city_df = preferred_city_df.reset_index()
preferred_city_df

,index,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,26,224,Carutapera,BR,80.83,light rain,-1.20,-46.02,Lidera
1,31,290,Manaus,BR,80.60,broken clouds,-3.10,-60.02,Hotel do Largo
2,33,324,Sao Jose Da Coroa Grande,BR,81.68,light rain,-8.90,-35.15,Crôa Mares Hotel
3,53,443,Belmonte,BR,80.60,few clouds,-15.86,-38.88,Pousada Monte Carmelo O Pão

In [7]:
# Iterate thriough the dataframe
for index, row in preferred_city_df.iterrows():
    # lat & longtitude 
    lat = row["Lat"]
    lng = row["Lng"]
    location = [lat, lng]

print(location)

[-15.86, -38.88]

In [8]:
location = preferred_city_df.loc[preferred_city_df.index,["Lat", "Lng"]]
location

     Lat    Lng
0  -1.20 -46.02
1  -3.10 -60.02
2  -8.90 -35.15
3 -15.86 -38.88

In [9]:
Carutapera= preferred_city_df.loc[preferred_city_df.index[0],'Lat'], (preferred_city_df.loc[preferred_city_df.index[0],'Lng'])
Carutapera

(-1.2, -46.02)

In [10]:
Manaus= preferred_city_df.loc[preferred_city_df.index[1],'Lat'], (preferred_city_df.loc[preferred_city_df.index[1],'Lng'])
Manaus

(-3.1, -60.02)

In [13]:
Sao_Jose_Da_Coroa_Grande = preferred_city_df.loc[preferred_city_df.index[2],'Lat'], (preferred_city_df.loc[preferred_city_df.index[2],'Lng'])
Sao_Jose_Da_Coroa_Grande

(-8.9, -35.15)

In [12]:
Belmonte= preferred_city_df.loc[preferred_city_df.index[3],'Lat'], (preferred_city_df.loc[preferred_city_df.index[3],'Lng'])
Belmonte

(-15.86, -38.88)

In [21]:
import gmaps 
import gmaps. datasets

#now = datetime.now()
#configure api
gmaps.configure(api_key=g_key)

# Latitude-longitude paris 
#Create the map
fig = gmaps.figure()
#Create the layer
layer = gmaps.directions_layer(Carutapera, Manaus, waypoints=[Sao_Jose_Da_Coroa_Grande, Belmonte], travel_mode='DRIVING')
#Add the layer
fig.add_layer(layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a weather description for the marker layer vacation spots.
locations = preferred_city_df[["Lat", "Lng"]]
current_weather = preferred_city_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Markers info template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in preferred_city_df.iterrows()]

In [26]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = preferred_city_df[["Lat", "Lng"]]
current_weather = preferred_city_df["Current Description"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))