In [1]:
# Import the dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chuy,UY,2020-02-20 01:50:55,-33.70,-53.46,67.80,88,0,4.56
1,1,Iqaluit,CA,2020-02-20 01:50:55,63.75,-68.51,-31.00,59,40,3.36
2,2,Zhuhai,CN,2020-02-20 01:46:04,22.28,113.57,66.99,82,20,6.93
3,3,Berlevag,NO,2020-02-20 01:50:56,70.86,29.09,31.59,66,100,21.52
4,4,Kiunga,PG,2020-02-20 01:50:56,-6.12,141.29,87.87,71,99,5.01

In [3]:
city_data_df.count()

City_ID       581
City          581
Country       578
Date          581
Lat           581
Lng           581
Max Temp      581
Humidity      581
Cloudiness    581
Wind Speed    581
dtype: int64

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Kiunga,PG,2020-02-20 01:50:56,-6.12,141.29,87.87,71,99,5.01
6,6,Faanui,PF,2020-02-20 01:50:56,-16.48,-151.75,82.81,76,100,18.10
8,8,Sinnamary,GF,2020-02-20 01:50:56,5.38,-52.95,78.55,75,87,16.02
10,10,Dingle,PH,2020-02-20 01:50:57,11.00,122.67,76.50,82,100,17.90
13,13,Rikitea,PF,2020-02-20 01:50:57,-23.12,-134.97,78.62,79,21,13.11
16,16,Port Macquarie,AU,2020-02-20 01:50:58,-31.43,152.92,82.00,44,40,6.93
22,22,Butaritari,KI,2020-02-20 01:50:59,3.07,172.79,82.90,81,100,14.63
23,23,Kapaa,US,2020-02-20 01:50:59,22.08,-159.32,78.80,61,75,8.05
26,26,Busselton,AU,2020-02-20 01:51:00,-33.65,115.33,84.00,29,0,12.97
29,29,Puerto Ayora,EC,2020-02-20 01:51:00,-0.74,-90.35,78.15,87,27,7.54

In [13]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [14]:
preferred_cities_df.count()

City_ID       167
City          167
Country       167
Date          167
Lat           167
Lng           167
Max Temp      167
Humidity      167
Cloudiness    167
Wind Speed    167
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
4           Kiunga      PG     87.87  -6.12  141.29
6           Faanui      PF     82.81 -16.48 -151.75
8        Sinnamary      GF     78.55   5.38  -52.95
10          Dingle      PH     76.50  11.00  122.67
13         Rikitea      PF     78.62 -23.12 -134.97
16  Port Macquarie      AU     82.00 -31.43  152.92
22      Butaritari      KI     82.90   3.07  172.79
23           Kapaa      US     78.80  22.08 -159.32
26       Busselton      AU     84.00 -33.65  115.33
29    Puerto Ayora      EC     78.15  -0.74  -90.35

In [16]:
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
print(url)

https://maps.googleapis.com/maps/api/place/nearbysearch/json

In [17]:
# Passing parameters in URLs
payload = {'key1':'value1', 'key2':'value2'}
r= requests.get('https://maps.googleapis.com/maps/api/place/nearbysearch/json', params=payload )

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Kiunga,PG,87.87,-6.12,141.29,Airport Lodge Kiunga
6,Faanui,PF,82.81,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
8,Sinnamary,GF,78.55,5.38,-52.95,ALETHEIA Appartement Sinnamary
10,Dingle,PH,76.50,11.00,122.67,Camp Pasica
13,Rikitea,PF,78.62,-23.12,-134.97,Pension Maro'i
16,Port Macquarie,AU,82.00,-31.43,152.92,Rydges Port Macquarie
22,Butaritari,KI,82.90,3.07,172.79,Isles Sunset Lodge
23,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Coconut Beach Resort
26,Busselton,AU,84.00,-33.65,115.33,Observatory Guest House
29,Puerto Ayora,EC,78.15,-0.74,-90.35,Finch Bay Galapagos Hotel

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Markers info template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))